body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(248, 241, 241);
}
body{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    text-decoration: none !important;
    list-style: none;
}
a{
    text-decoration: none;
    color: cornflowerblue;
    width: 20%;
    height: 200px;
    line-height: 80px;
}
#content{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
}
/* hedar */
.navbar {
    width: 13%;
    height: 722px;
    border: 2px solid black;
    display: flex;
}
.navbar img{
    width: 80%;
    margin-right: 20px;
}
.our{
    width: 75%;
    height: auto;
    background-color: rgba(221, 211, 211, 0.639);
    margin-left: 20px;
}

input[type=search]
{
    width: 40%;
    height: 35px;
    margin-left: 15%;
    margin-top: 2%;
    border-radius: 20px;
}
input[type=button]
{
    width: 12%;
    height: 40px;
    margin-left: 1%;
    margin-top: 2%;
    border-radius: 20px;
    cursor: pointer;
    background-color: cornflowerblue ;
}
#content{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 2%;
}
h1{
    width: 0%;
    height: 20px;
    margin-left: 2%;
    
}
.das{
    width: 15%;
    height: 100px;
    background-color: rgba(86, 78, 78, 0.317);
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px white;
}
.das1{
    width: 15%;
    height: 100px;
    background-color: rgba(86, 78, 78, 0.317);
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px white;
}
.das2{
    width: 15%;
    height: 100px;
    background-color: rgba(86, 78, 78, 0.317);
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px white;
}
.das3{
    width: 15%;
    height: 100px;
    background-color: rgba(86, 78, 78, 0.317);
    margin-top: 5%;
    box-shadow: 2px 2px 2px 2px white;
}
.fa{
    margin-left: 50px;
}
#content2{
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.r1{
    width: 100%;
    height: auto;
    position: relative;
    top: -480px;
    left: 280px;
}